* {
  outline: 1px solid blue;
}

.ourstory-img {
  width: 50%;
  min-width: 250px;
}

.tradarchery-img {
  width: 75%;
  min-width: 250px;
}

.intro-img {
  width: 100vw;
}

.navbar-top {
  background-color: yellow;
  color: antiquewhite;
}
